@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

      <div class="svg-background">
        <div class="container-fluid justify-content-center">
          <div class="row min-vh-85">
            <div class="col-xl-4 col-lg-4 col-md-12 bd-highlight my-auto text-md-center text-lg-end min-vh-33 d-flex">
              <div class="my-auto">
                <!--Large or larger screen-->
                <h3 class="d-none d-lg-block text-end">Welcome to PHCN's</h3>
                <h1 class="text-primary display-3 d-none d-lg-block text-end">ProNet <span class="text-secondary">Connect</span></h1>
                <p class="d-none d-md-none d-lg-block w-50 ms-auto">This secure portal allows Home Health Care Providers and Payers to access to Home Health Care Services.</p>
                <!--Medium or smaller screen-->
                <h3 class="d-block d-lg-none text-center">Welcome to PHCN's</h3>
                <h1 class="text-primary display-3 d-block d-lg-none text-center">ProNet <span class="text-secondary">Connect</span></h1>
                <p class="d-sm-block d-lg-none mx-auto w-50">This secure portal allows Home Health Care Providers and Payers to access to Home Health Care Services.</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 offset-sm-3 offset-lg-0 text-sm-center col-8 position-relative my-auto">
              <div class="card border-2 border-white shadow login-card">
                <div class="card-body">
                  <h2 class="text-uppercase">Login</h2>
                  <form>
                    <div class="input-group" id="login-icon">
                      <div class="input-group-addon">
                        <i class="fa fa-fw fa-lg fa-user text-primary align-bottom"></i>
                      </div>
                      <input type="email" class="form-control mb-4" id="email-input" placeholder="Email" />
                    </div>
                    <div class="input-group" id="password-icon">
                      <div class="input-group-addon">
                        <i class="fa fa-fw fa-lg fa-lock text-primary align-bottom"></i>
                      </div>
                      <input type="password" class="form-control mb-0" id="password-input" placeholder="Password" />
                    </div>
                    <p class="text-start ps-4 pb-4"><a href="#" class="text-primary">forgot password?</a></p>
                    <button class="btn btn-primary" type="submit" id="login-button">LOGIN</button>
                  </form>
                  <h6 class="pt-3 pb-2">Or</h6>
                  <button class="btn btn-secondary" type="submit" id="SSO-button">PHCN SSO</button>
                </div>
              </div>
              <a href="#"><img src="~/images/joinimage.png" alt="Join our Provider Network" class="position-absolute join-button" /></a>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 position-relative overflow-hidden">
              <img src="~/images/bubble_image_custom.png" alt="Bubble Graphic" class="d-none d-md-none d-lg-block position-absolute top-0 end-0 bubble-image max-width-150 min-width-100" />
              <img src="~/images/bubble_image_custom.png" alt="Bubble Graphic" class="d-sm-block d-lg-none d-position-relative end-0 bottom-0 bubble-image mx-auto p-4" />
            </div>
          </div>
          <div class="row min-vh-15 bg-white text-primary p-4">
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-4">
              <h6 class="p-0 text-primary">Support</h6>
              <ul class="list-unstyled">
                <li>Contact Us</li>
                <li>Careers</li>
              </ul>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-4">
              <h6 class="p-0 text-primary">Legal</h6>
              <ul class="list-unstyled">
                <li>Trust Center</li>
                <li>Privacy</li>
              </ul>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-4">
              <h6 class="p-0 text-primary">Links</h6>
              <ul class="list-unstyled">
                <li>Provider Finder</li>
              </ul>
            </div>
            <div class="col-xl-6 offset-lg-3 offset-xl-0 col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-end justify-content-evenly">
            <div class="text-center m-0">
              <p><small class="text-muted">&copy; Copyright @DateTime.Now.Year - powered by PHCN</small></p>
            </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-md-end justify-content-center">
              <img src="https://prohcn.com/wp-content/themes/phcn_custom_theme-2020/public/images/logo--small.png" height="75px"></img>
            </div>
          </div>
        </div>
      </div>
